<p>It begins! The MMORPG '{{game}}' that you have heard so much about is finally done installing, and you press the giant button 'PLAY'.</p>
<p>
  The game starts up, and you are immediately thrown into character creation. You are almost overwhelmed by all the different ways
  there are to customize your character: Long hair or short hair? Big nose or small nose? Eye-patch or monocle? These and many other
  hard choices have to be made. But one customization choice stands out: <i>Eye color</i>. It seems like there are several hundred
  different colors to choose from! When you go through all the different colors you notice that some of them are identical
  to each other. So, how many different colors are there really to choose from?
</p>

<p>
  The eye color list (the input file) uses two different formats to list the colors: hexadecimal values (for example <b>#1F0D75</b>)
  and decimal values (for example <b>31,13,117</b>). Below is an example of a very short color list:
</p>
<pre>
<code>
  #1F0D75
  31,13,117
  #1F0D75
  #123456
</code>
</pre>

<p>
  This list only has <b>2</b> different colors, since the first three entries all represent the same color. How many different colors
  does the input file contain?
</p>