<p>
  After a few hours of tweaking, you are finally happy with how your character looks. It is now time to move on and choose a name!
  Since you are a seasoned RPG player, you have prepared a large list of names to choose from.
</p>

</p>
  However, the rules that determine if a name is valid or not are very complex:
</p>

<ul>
  <li>It must start with an upper case character</li>
  <li>It cannot contain spaces</li>
  <li>It cannot have three or more identical consecutive characters</li>
  <li>If the name is not forbidden via the above rules, then it is valid</li>
</ul>

<p>Here are a few example names:</p>

<pre>
<code>
  Aabcde (valid)
  2a     (invalid, does not start with uppercase character)
  He llo (invalid, contains a space)
  Abccc  (invalid, contains three consecutive 'c')
</code>
</pre>

<p>Given these rules, how many of the names on your list are valid?</p>