<p>
  Perfect! Thanks to your calculations, it did not take long until the bear got caught in the trap.
  Now all you have to do is finish it off. You emerge from your hiding spot and make your way towards it,
  when suddenly the bear lets out a deafening roar and takes a giant leap, breaking free from the
  trap in the process. <b>Run!</b>
</p>

<p>
  While running for your life, trying to escape the bear, you notice all the traps that other players have laid out.
  Maybe luring the bear into those traps would finally stop it? You quickly scan the area and make a map of the surroundings,
  all the while desperately trying to maintain as much distance as possible from the bear.
</p>

<p>
  The map is a two-dimensional grid, with you positioned in the <b>top left corner</b>. <b>O denotes traps</b>
  from other players, and <b>T denotes trees</b> which block movement. Below is an example of a small grid:
</p>

<pre style="margin-left: 10px; "><code style="background-color: rgb(240, 240, 240);">
 O T   T  TO
   T O T   T
    TTT     
     O      
    OOO     
     O      
</code></pre>

<p>
  Without leaving the grid, and only moving horizontally and vertically (i.e. <b>not</b> diagonally) it is possible to reach <b>6 of the 8 traps</b>,
  since two are blocked by trees. Starting in the top left corner, how many traps are reachable in the grid specified by the input file?
</p>