<p>
  After running around for a while, you eventually manage to get the bear caught in enough traps,
  and it collapses. But the whole endeavor has been very hectic, and you decide that this will
  have to be enough games for today. Time to be a little productive for once and do
  some chores or something.
</p>

<p>
  The very next day, you eagerly turn on your computer, ready to continue the adventure! You select
  your only character, <b>{{name}}</b>, and press the 'ENTER WORLD' button. Only to once again be greeted
  by a painfully slow loading screen. You try to read the loading screen tip but realize that just like
  last time, the text is encoded in some strange way. But you cannot use the same technique as last time,
  since the text now only consists of digits:
</p>

<code>
  442315 12151142 2443 443434 3534521542214531 4434 1215 24331311351113244411441514 1254 11 432433223115 44421135
</code>

<p>
  Looks like you have 78% of the loading time left to figure out what it says! You <i>tap</i> your forehead trying
  to figure out how to decode the message.
</p>