<p>
It turns out that the few names on your list that were valid were already taken by other players.
As a last resort, you use a random name generator to generate a name: <b>{{name}}</b>. Satisfied with the name,
you eagerly press the 'ENTER WORLD' button, and... loading screen time!
</p>

<p>
As you stare at the screen, cursing yourself for still using a slow HDD, you notice something strange.
Above the progress bar (which has been seemingly stuck at 37% for quite a while now), there is a loading
screen tip. But it looks like the text is bugged (not a great sign of what is to come), because the text
is unreadable! This is what it says:
</p>

<code>
  mubsecu je fhewhqccuh gkuij
</code>

<p>
Your curiosity has now gotten the better of you, you just have to find out what it says! To solve the
problem you will have to <i>shift</i> your thinking a bit.
</p>