<p>
  After significantly reducing the boar population, you make your way back to Willem Farmer.
  But to your surprise, you only find his corpse! It looks like a griefer killed Willem, so there
  is no way for you to complete your quest. Next to the body you find a note saying "{{griefer}} was here",
  but you do not see any player named {{griefer}} around. Maybe for the best, who knows what other problems
  they would cause.
</p>

<p>
  While waiting for Willem to respawn so you can turn in your quest, you explore the nearby area. You find a small
  wooden house with a sign outside, saying "Alice's goods". A shop! Eager to find out what they sell, you enter the store.
</p>

<p>
  The small house is extremely cramped, with various items occupying the many shelves and the counter. Behind the counter
  is a woman, presumably Alice, and it turns out she is selling <b>four</b> different kinds of items:
</p>

<ul>
  <li>Bread for 1 coin</li>
  <li>Socks for 3 coins</li>
  <li>Potion of unknown effect for 15 coins</li>
  <li>Fishing rod for 23 coins</li>
</ul>

<p>
  You curse the griefer for killing Willem so you could not turn in your quest and earn some coins to buy something. But then
  you check your inventory and realize that every character starts with 100 coins! Curious, you wonder in how many different
  ways you could use up exactly all of those 100 coins.
</p>

<p>
  For example, if you had only 10 coins and could only buy two items, hats for 2 coins and bananas for 4 coins, then you would
  have the following options:
</p>

<pre>
  <code>
  banana, banana, hat       (1)
  banana, hat, banana       (2)
  hat, banana, banana       (3)
  banana, hat, hat, hat     (4)
  hat, banana, hat, hat     (5)
  hat, hat, banana, hat     (6)
  hat, hat, hat, banana     (7)
  hat, hat, hat, hat, hat   (8)
  </code>
</pre>

<p>
  Then there would be 8 different ways to spend 10 coins (but what would you do with 5 hats?!?).
  Even though options 1, 2, and 3 all lead to you getting 2 bananas and 1 hat, since the order
  in which you buy the items is different they are counted as distinct.
</p>

<p>
  Similar to the example above, how many ways can you spend exactly all your 100 coins buying the four different kinds of items
  from Alice's shop?
</p>