<p>
  <i>Unfortunately</i>, the inventory upgrades cost money, and you do not have any coins left after
  visiting the shop earlier! <i>Fortunately</i>, {{first_npc}} just respawned, so you can turn in the
  boars you hunted and hopefully free some inventory space that way.
</p>

<p>
  You hurry over to him, while looking around to make sure that the griefer has not appeared again.
  Looks like the coast is clear! You talk to Willem, who seems completely unaware of the fact that
  he was dead just moments ago. He is very thankful that you helped him keep the boar population in check,
  and offers you a quest reward.
</p>

<p>
  As the quest reward, you are allowed to pick a number of weapons from a given list (the input file),
  as long as the total value of the weapons does not exceed a certain number. For example, if you
  were allowed to pick items up to a maximum total value of 10 from the following list:
</p>

<pre>
  <code>
    Mace of Leeo, damage: 20, value: 9
    Axe of Luofli, damage: 15, value: 6
    Sword of Amsini, damage: 6, value: 2
  </code>
</pre>

<p>
  To get as much damage as possible, it would be best to pick the <b>Axe of Luofli</b> and the <b>Sword of Amsini</b>,
  for a total damage of 21, and a total value of 8.
</p>

<p>
  Given the weapons in the input file, how much total damage can you acquire while keeping the total
  value <b>less than or equal to 200</b>?
</p>