<p>
  As soon as you select the best weapons from {{first_npc}} (why would a farmer even have all those weapons?), and
  click the <i>Complete Quest</i> button, you hear a positive sound pattern, and a text with big letters
  appears in the middle of the screen:
</p>

<blockquote>
  <b>LEVEL UP!</b>
</blockquote>

<p>
  It looks like you finally managed to reach level 2! A blinking button appears in the corner of
  the screen, with the description 'Click here to spend your talent points'. It appears that this
  game, like a lot of RPGs, has some sort of talent tree where you can spend points to unlock new
  powers! Although, in this game, it is a <b>talent graph</b> instead of a simple tree. This is an
  example of a small talent tree:
</p>

<pre>
  <code>
    +---5+
    |    |
  3-x+   |
  x  1   |
     |   x
     x--5+  
  </code>
</pre>

<p>
  <b>x</b> denotes a node in the graph, and the numbers on the paths between the nodes indicate
  the cost to unlock a node via that path. So, starting from any node, the cheapest way to unlock
  every node in the graph above would cost <b>9 talent points</b>. How many talent points would it cost to unlock every
  node in the talent graph given in the input file?
</p>