#bottom {
  font-size: 80%;
  text-align: center;
}

p {
  max-width: 45em;
}

blockquote {
  max-width: 40em;
}

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page-content {
  flex: 1;
}